 
@{
    ViewBag.Title = "OpenUserAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h3>User Account</h3>

    <button type="button" class="btn btn-success" style="width:120px;" >
        
    </button>
</div>