
@{
    ViewBag.Title = "AEFURUnbilledReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" ng-controller="aefurController as aefur" ng-init="initAEFURUnbilledReport()">
    <h2>AEFUR - Unbilled Report</h2>

    <div class="widget-box">
        <div class="widget-title">
            <h5>Business and Leisure</h5>
        </div>

        <div class="widget-content">
            <canvas id="BLDChart"></canvas>
        </div>
    </div>

    <div class="widget-box">
        <div class="widget-title">
            <h5>Marine</h5>
        </div>

        <div class="widget-content">
            <canvas id="MMChart"></canvas>
        </div>
    </div>

    <div class="widget-box">
        <div class="widget-title">
            <h5>Mice</h5>
        </div>

        <div class="widget-content">
            <chart id="MCChart"></chart>
        </div>
    </div>
</div>