
@{
    ViewBag.Title = "ReportMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container-fluid">
        <div class="quick-actions_homepage">
            <ul class="quick-actions">
                <li class="bg_lb">
                    <a href="/AEFUR/AEFURUnbilledReport"><i class="icon-plane"></i>AEFUR Unbilled Report</a>
                </li>
            </ul>
        </div>
    </div>
</div>